#calculator	{
	width: 550px;
	border: 2px solid #ccc;
	padding:10px;
	margin: 10px;
	background-color: #ddd;
}

#input-data {
	font-size: 50px;
	text-align: right;
	width: 470px;
}

#input-data:hover {
	color: white; 
	background: black;
}

td {
	text-align: center;
	width: 100px;
	border: 1px solid black;
	border-radius: 10px;
	background-image: url(task5.jpg);
	
}

table {
	border-spacing: 20px;
}

button {
	width: 100px;
	border-radius: 10px;
	font-size: 50px;
	background: transparent;
	font-family: "Verdana", Verdana, serif;
}

button:hover {
	background: red;
}

button:active {
	background: green;
}

div {
	width: 580px;
	padding: 10px;
	margin:10px;
	border: 1px solid #bbb;
	background: #eee;
}