table {
	width: 750px;
	border: 1px solid black;
	padding: 10px;
	margin: 100px;
	border-spacing: 0px;
}

#table-head {
	text-align: left;
	padding: 10px;
	background-color: black;
	color: red;
}

th, td {
	border: 1px solid black;
	padding: 5px;
}

tr td:first-child {
	width: 150px;
}

tr td:nth-child(2), td:nth-child(3) {
	width: 200px;
}

tr td:nth-child(4), td:last-child {
	width: 100px;
}

.row {
	background-color: grey;
}

#first-row {
	background-color: orange;
	font-weight: bold;
}

#last-row {
	text-align: right;
	background-color: blue;
	color: red;
	font-weight: bold;
}

.flight {
	color: blue;
	background-color: red;
	font-weight: bold;
}